@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.slideshow-container{
    background-image: url(./images/bg-2.jpg);
}

.navbar a {
    text-decoration: none;
    transition: color 0.3s;
}

<<<<<<< HEAD
.navbar a:hover{
    color: #006838;
    font-size: larger;
}

=======
>>>>>>> 6bae9e505336beb17a949be324147666914fd57b
/* Text Animation */
.text-container {
    transform: translateX(5%);
    opacity: 0;
    animation: fadeInText 2s forwards;
}

.text-container h1 {
    animation: moveInLeft 2s forwards;
}

.text-container p {
    animation: moveInRight 2s forwards;
}



@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes moveInLeft {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes moveInRight {
    from { opacity: 0; transform: translateX(100px); }
    to { opacity: 1; transform: translateX(0); }
}


@media (min-width:451px) and (max-width:960px) {
    .list-2{
        display: none;
    }
    .list-1{
        display: none;
    }
    .footer-info{
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .text-center-1{
        text-align: center;
    }
    .image-div img{
        height: 450px;
        width: 550px;
        width: 100%;
        margin: auto;
    }
    .image-2-text{
        text-align: center;
        padding: 0px 10px;
    }
    .color-yellow{
        padding-top: 16px;
    }
    .image-2-div .image-div{
        margin-top: 150px;
    }
    .text-befor-btn{
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    .list-2{
        display: none;
    }
    .list-1{
        display: none;
    }
    .footer-info{
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .text-center-1{
        text-align: center;
    }
    .image-div {
        height: 300px;
        width: 300px;
        width: 100%;
        margin: auto;
    }
    .image-2-div .image-div{
        margin-top: 150px;
    }
    .image-2-text{
       text-align: center;
       padding: 0px 10px;
    }
    .color-yellow{
        padding-top: 16px;
    }
}
.image-div{
    height: 420px;
    width: 590px;
}