body{
    font-family: 'Avenir', sans-serif;
    background-color: #02120b;
}
.navbar, .text-container{
    color: #02120b;
}
.color-yellow{
    color: #dcbb26;
}
.btn-1{
    background-color: #dcbb26;
}
/* Slideshow Container */
.slideshow-container {
    height: 100vh;
}
.svg-1{
    fill: white;
}
/* Slides */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}
/* Slide Images */
.mySlides img {
    width: 100%;
    height: 100%;
}

/* Transparent Navbar */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: w;
}

.navbar a {
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #006838;
    font-size: larger;
}

/* Text Animation */
.text-container {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeInText 2s forwards;
}

.text-container h1 {
    animation: moveInLeft 2s forwards;
}

.text-container p {
    animation: moveInRight 2s forwards;
}

@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes moveInLeft {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes moveInRight {
    from { opacity: 0; transform: translateX(100px); }
    to { opacity: 1; transform: translateX(0); }
}


@media (min-width:451px) and (max-width:860px) {
    .list-1{
        display: none;
    }
    .footer-info{
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .text-center-1{
        text-align: center;
    }
    .image-div img{
        height: 450px;
        width: 550px;
        width: 100%;
        margin: auto;
    }
    .image-2-text{
        text-align: center;
        padding: 0px 10px;
    }
    .color-yellow{
        padding-top: 16px;
    }
    .image-2-div .image-div{
        margin-top: 150px;
    }
    .text-befor-btn{
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    .list-1{
        display: none;
    }
    .footer-info{
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .text-center-1{
        text-align: center;
    }
    .image-div {
        height: 300px;
        width: 300px;
        width: 100%;
        margin: auto;
    }
    .image-2-div .image-div{
        margin-top: 150px;
    }
    .image-2-text{
       text-align: center;
       padding: 0px 10px;
    }
    .color-yellow{
        padding-top: 16px;
    }
}
.image-div{
    height: 420px;
    width: 590px;
}